flows.json
[{"id":"511ee0d8.9aac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f4a391a2.9add5","type":"function","z":"511ee0d8.9aac","name":"prediction","func":"var token=msg.payload.token;\nvar gs=global.get(\"gs\");\nvar ts=global.get(\"ts\");\nvar ur=global.get(\"ur\");\nvar sop=global.get(\"sop\");\nvar lor=global.get(\"lor\");\nvar cgpa=global.get(\"cgpa\");\nvar re=global.get(\"re\");\nmsg.payload={\"fields\":[\"GRE Score\",\"TOEFL Score\",\"University Rating\",\"SOP\",\"LOR\",\"CGPA\",\"Research\"],\"values\":[[gs,ts,ur,sop,lor,cgpa,re]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":143,"y":33,"wires":[["34a133d3.7a3b1c"]]},{"id":"b0ef08cd.9ca558","type":"inject","z":"511ee0d8.9aac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106,"y":180,"wires":[["7647b0c1.fd5eb"]]},{"id":"1bc1778f.6eebc8","type":"ui_form","z":"511ee0d8.9aac","name":"","label":"","group":"e453d5e1.2cc578","order":2,"width":0,"height":0,"options":[{"label":"GRE Score","value":"gs","type":"number","required":true},{"label":"TOEFL Score","value":"ts","type":"number","required":true},{"label":"University Rating","value":"ur","type":"number","required":true},{"label":"SOP","value":"sop","type":"number","required":true},{"label":"LOR","value":"lor","type":"number","required":true},{"label":"CGPA","value":"cgpa","type":"number","required":true},{"label":"Research\t","value":"re","type":"number","required":true}],"formValue":{"gs":"","ts":"","ur":"","sop":"","lor":"","cgpa":"","re":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":116,"y":499,"wires":[["7647b0c1.fd5eb"]]},{"id":"7647b0c1.fd5eb","type":"function","z":"511ee0d8.9aac","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"9e4b5dc7-262e-43fc-8edd-4e95ffac9e1a\";\nvar password=\"f86a16de-1383-4cd8-a623-f034a3e3207a\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"gs\",msg.payload.gs)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"ur\",msg.payload.ur)\nglobal.set(\"sop\",msg.payload.sop)\nglobal.set(\"lor\",msg.payload.lor)\nglobal.set(\"cgpa\",msg.payload.cgpa)\nglobal.set(\"re\",msg.payload.re)\nreturn msg;","outputs":1,"noerr":0,"x":169,"y":357,"wires":[["7a3fa46d.ee1efc"]]},{"id":"34a133d3.7a3b1c","type":"http request","z":"511ee0d8.9aac","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/22603b2d-8760-48b2-987d-124c17ce6f1f/deployments/7daa4452-4192-410d-9cc0-4d44f0de0e00/online","tls":"","proxy":"","authType":"basic","x":349,"y":124,"wires":[["de2767bb.eb7ee8"]]},{"id":"7a3fa46d.ee1efc","type":"http request","z":"511ee0d8.9aac","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":427,"y":393,"wires":[["d4a23866.feb048","f4a391a2.9add5"]]},{"id":"77e773e7.fefebc","type":"ui_text","z":"511ee0d8.9aac","group":"e453d5e1.2cc578","order":3,"width":0,"height":0,"name":"","label":"chance of admit","format":"{{msg.payload}}","layout":"row-spread","x":776,"y":92,"wires":[]},{"id":"d4a23866.feb048","type":"debug","z":"511ee0d8.9aac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":762,"y":321,"wires":[]},{"id":"de2767bb.eb7ee8","type":"function","z":"511ee0d8.9aac","name":"output parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":517,"y":38,"wires":[["77e773e7.fefebc","d4a23866.feb048"]]},{"id":"e453d5e1.2cc578","type":"ui_group","z":"","name":"predict","tab":"6f7932d4.19595c","disp":true,"width":"6","collapse":false},{"id":"6f7932d4.19595c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]